.calculator__app{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: $fontSpartan;
    
    .calculator__body{
        max-width: 540px;
        width: 100%;;
    }
    .calculator__switch{
        height: 70px;
        background: red;
        margin-top: 90px;
    
    }
    .calculator__display{
        margin-top: 12px;
        height: 128px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        .display{
            padding: 0 30px;
            width: 100%;
            text-align: end;
            font-size: 55px;
        }
    }
    .calculator__buttons{
        margin-top: 24px;
        height: 480px;
        border-radius: 10px;
        .buttons__container{
            padding: 32px 18px;
            .button__calc{
                height: 65px;
                width: 102px;
                margin: 0 12px 23px 12px;
                border-radius: 10px;
                font-family: $fontSpartan;
                font-size: 40px;
                padding: 15px;
                border-width: 0 0 4px 0;
                background-color: $LightGrayishOrangeKeyBackground;
                border-bottom: 5px solid $GrayishOrangeKeyShadow;
                &.delete{
                    background-color: $DesaturatedDarkBlueKeyBackground;
                    border-bottom: 5px solid $DesaturatedDarkBlueKkeyShadow;
                    color: white;
                }
                &.equal{
                    background-color: $RedKeyBackgroundToggle;
                    border-bottom: 5px solid $DarkRedKeyShadow;
                    color: white;
                }
                &:nth-last-child(-n+2){
                    width: 228px !important;
                }
            }
        }
    }

    &.theme__1{
        background-color: $VeryDarkdesaturatedBlueMainBack;
        .calculator__display{
            background-color: $VeryDarkDesaturatedBlueScreenBackground;
            .display{
                color: $WhiteText;
            }
        }
        .calculator__buttons{
            background-color: $VeryDarkDesaturatedBlueToggleBackground;
            .button__calc{
                background-color: $LightGrayishOrangeKeyBackground;
                border-bottom: 5px solid $GrayishOrangeKeyShadow;
                &.delete{
                    background-color: $DesaturatedDarkBlueKeyBackground;
                    border-bottom: 5px solid $DesaturatedDarkBlueKkeyShadow;
                    color: white;
                }
                &.equal{
                    background-color: $RedKeyBackgroundToggle;
                    border-bottom: 5px solid $DarkRedKeyShadow;
                    color: white;
                }
            }
        }
    }
    &.theme__2{
        background-color: $LightGrayMainBackground;
        .calculator__buttons{
            background-color: $GrayishRedToggleBackground;
            .button__calc{
                background-color: $LightGrayishOrangeKeyBackground;
                border-bottom: 5px solid $GrayishOrangeKeyShadow;
                color: $VeryDarkGrayishYellow;
                &.delete{
                    background-color: $DarkModerateCyanKeyBackground;
                    border-bottom: 5px solid $VeryDarkCyanKeyShadow;
                    color: white;
                }
                &.equal{
                    background-color: $OrangeKeyBackgroundToggle;
                    border-bottom: 5px solid $DarkOrangeKeyShadow;
                    color: white;
                }
            }
        }
    }
    &.theme__3{
        background-color: $VeryDarkVioletMainBackground;
        .calculator__buttons{
            background-color: $VeryDarkVioletToggleBackground;
            .button__calc{
                background-color: $DarkVioletKeyBackground;
                border-bottom: 5px solid $VividMagentaKeyShadow;
                color: $LightYellow;
                &.delete{
                    background-color: $VeryDarkVioletKeyBackground;
                    border-bottom: 5px solid $DarkMagentaKeyShadow;
                    color: white;
                }
                &.equal{
                    background-color: $PureCyanKeyBackgroundToggle;
                    border-bottom: 5px solid $SoftCyanKeyShadow;
                    color: $VeryDarkBlue;
                }
            }
        }
    }
}