.calculator__app{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: $fontSpartan;
    
    .calculator__body{
        max-width: 540px;
        width: 100%;
        padding: 0 24px;
    }
    .calculator__switch{
        margin-top: 112px;
        justify-content: space-between;
        display: flex;
        align-items: center;
        h1{
            margin: 0;
            margin-left: 8px;
            font-size: 30px;
        }
    }
    .calculator__display{
        margin-top: 32px;
        height: 128px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        .display{
            padding: 0 30px;
            width: 100%;
            text-align: end;
            font-size: 55px;
            overflow: hidden;
            white-space: nowrap;
            div{
                overflow: overlay;
                overflow-x: auto;
                white-space: nowrap;
            }
        }
    }
    .calculator__buttons{
        margin-top: 24px;
        height: 480px;
        border-radius: 10px;
        .buttons__container{
            padding: 32px 18px;
            display: flex;
            flex-flow: wrap;
            .button__calc{
                height: 65px;
                width: 102px;
                margin: 0 12px 23px 12px;
                border-radius: 10px;
                font-family: $fontSpartan;
                font-size: 40px;
                padding: 15px;
                border-width: 0 0 4px 0;
                background-color: $LightGrayishOrangeKeyBackground;
                border-bottom: 5px solid $GrayishOrangeKeyShadow;
                &.delete{
                    background-color: $DesaturatedDarkBlueKeyBackground;
                    border-bottom: 5px solid $DesaturatedDarkBlueKkeyShadow;
                    color: white;
                    font-size: 27px;
                }
                &.equal{
                    background-color: $RedKeyBackgroundToggle;
                    border-bottom: 5px solid $DarkRedKeyShadow;
                    color: white;
                    font-size: 27px; 
                }
                &:nth-last-child(-n+2){
                    width: 228px;
                }
            }
        }
    }

    &.theme__1{
        background-color: $VeryDarkdesaturatedBlueMainBack;
        .calculator__switch{
            h1{
                color: $WhiteText;
            }
        }
        .switch__steps {
            background-color: $VeryDarkDesaturatedBlueToggleBackground;
            span{ color: $WhiteText; }
            input[type="radio"]{
                &:checked::before{
                    background-color: $RedKeyBackgroundToggle;
                }
            }
          }
        .calculator__display{
            background-color: $VeryDarkDesaturatedBlueScreenBackground;
            .display{
                color: $WhiteText;
            }
        }
        .calculator__buttons{
            background-color: $VeryDarkDesaturatedBlueToggleBackground;
            .button__calc{
                background-color: $LightGrayishOrangeKeyBackground;
                border-bottom: 5px solid $GrayishOrangeKeyShadow;
                color: $VeryDarkGrayishBlue;
                &.delete{
                    background-color: $DesaturatedDarkBlueKeyBackground;
                    border-bottom: 5px solid $DesaturatedDarkBlueKkeyShadow;
                    color: white;
                }
                &.equal{
                    background-color: $RedKeyBackgroundToggle;
                    border-bottom: 5px solid $DarkRedKeyShadow;
                    color: white;
                }
            }
        }
    }
    &.theme__2{
        background-color: $LightGrayMainBackground;
        .switch__steps {
            background-color: $GrayishRedToggleBackground;
            span{ color: $VeryDarkGrayishYellow; }
            input[type="radio"]{
                &:checked::before{
                    background-color: $OrangeKeyBackgroundToggle;
                }
            }
          }
        .calculator__display{
            background-color: $VeryLightGrayScreenBackground;
            .display{
                color: $VeryDarkGrayishYellow;
            }
        }
        .calculator__buttons{
            background-color: $GrayishRedToggleBackground;
            .button__calc{
                background-color: $LightGrayishOrangeKeyBackground;
                border-bottom: 5px solid $GrayishOrangeKeyShadow;
                color: $VeryDarkGrayishYellow;
                &.delete{
                    background-color: $DarkModerateCyanKeyBackground;
                    border-bottom: 5px solid $VeryDarkCyanKeyShadow;
                    color: white;
                }
                &.equal{
                    background-color: $OrangeKeyBackgroundToggle;
                    border-bottom: 5px solid $DarkOrangeKeyShadow;
                    color: white;
                }
            }
        }
    }
    &.theme__3{
        background-color: $VeryDarkVioletMainBackground;
        .switch__steps {
            background-color: $VeryDarkVioletToggleBackground;
            span{ color: $LightYellow; }
            input[type="radio"]{
                &:checked::before{
                    background-color: $PureCyanKeyBackgroundToggle;
                }
            }
          }
        .calculator__switch{
            h1{
                color: $LightYellow;
            }
        }
        .calculator__display{
            background-color: $VeryDarkVioletToggleBackground;
            .display{
                color: $LightYellow;
            }
        }
        .calculator__buttons{
            background-color: $VeryDarkVioletToggleBackground;
            .button__calc{
                background-color: $VeryDarkVioletKeyBackground;
                border-bottom: 5px solid $VividMagentaKeyShadow;
                color: $LightYellow;
                &.delete{
                    background-color: $DarkVioletKeyBackground;
                    border-bottom: 5px solid $DarkMagentaKeyShadow;
                    color: white;
                }
                &.equal{
                    background-color: $PureCyanKeyBackgroundToggle;
                    border-bottom: 5px solid $SoftCyanKeyShadow;
                    color: $VeryDarkBlue;
                }
            }
        }
    }
}

.switch__steps {
    display: flex;
    flex-flow:column;
    justify-content: center;
    border-radius: 50px;
    width: fit-content;
    height: 26px;
    position: relative;
    .steps__nums{
        position: absolute;
        margin-bottom: 50px;
        font-size: 15px;
        span{
            padding: 0 8px;
        }
    }
    .steps__title{
        position: absolute;
        right: 98px;
        font-size: 14px;
    }
    input[type="radio"]{
        height: 15px;
        width: 15px;
        margin: 4px;
        vertical-align: middle;
        cursor: pointer;
        opacity: 0;
        &:checked{
            opacity: 1;
        }
        &::before{
            content: "";
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
        }
    }
  }

@media (max-width: 580px){
    .calculator__app{
        .calculator__body{
            max-width: 324px
        }
        .calculator__switch{
            margin-top: 46px !important;
        }
        .calculator__display{
            height: 86px !important;
            .display{
                font-size: 39px !important;
                padding: 0 26px !important; 
            }
        }
        .calculator__buttons{
            height: 420px;
            .buttons__container{
                padding: 25px 18px !important;
                .button__calc{
                    width: 60px !important;
                    margin: 0 6px 10px 6px !important;
                    font-size: 36px !important;
                    &.delete{
                        font-size: 20px !important;
                    }
                    &.equal{
                        font-size: 20px !important; 
                    }
                    &:nth-last-child(-n+2){
                        width: 132px !important;
                    }
                }
            }
        }
    }
}